:root {
  --red-color: hsl(90, 80%, 56%);
  --choose-color-1: hsl(90, 100%, 37%);
  --choose-color-2: hsl(90, 100%, 26%);
  --main-color: hsl(90, 100%, 46%);
  --rotate-color: hsl(90, 100%, 46%), hsl(90, 100%, 66%), hsl(90, 100%, 86%);
}
