:root {
  --main-color: hsl(319, 100%, 50%);
  --bow-color: hsl(319, 100%, 81%);
  --choose-color-1: hsl(319, 100%, 37%);
  --choose-color-2: hsl(319, 100%, 26%);
  --sub-color: hsl(319, 80%, 65%);
}
