:root {
  --main-color: hsl(276, 100%, 50%);
  --bow-color: hsl(276, 100%, 81%);
  --choose-color-1: hsl(276, 100%, 37%);
  --choose-color-2: hsl(276, 100%, 26%);
  --sub-color: hsl(276, 100%, 30%);
}
