.pricing__container {
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  row-gap: 2rem;
}

.pricing__card,
.pricing__shape,
.pricing__list {
  display: grid;
}

.pricing__card {
  row-gap: 2rem;
  background-color: var(--bg-soft-color);
  padding: 2rem 2.5rem;
}

.pricing__img {
  width: 38px;
}

.pricing__shape {
  width: 100px;
  height: 100px;
  background-color: var(--second-color);
  border-radius: 50%;
  place-items: center;
  margin-bottom: 1em;
}

.pricing__title {
  font-size: var(--h3-font-size);
  color: var(--body-color);
  margin-bottom: 1rem;
}

.pricing__number {
  font-size: var(--h1-font-size);
}

.pricing__list {
  row-gap: 1rem;
  color: var(--body-color);
}

.pricing__item {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-size: var(--small-font-size);
}

.pricing__item i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.pricing__item-opacity {
  opacity: 0.3;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 18px 32px;
  border: 2px solid var(--first-color-light);
  color: var(--header-color);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--body-color);
  color: var(--header-color);
}

.button i {
  font-size: 1.25rem;
  transition: transform 0.3s;
}

.button__flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.button__flex:hover i {
  transform: translateX(0.25rem);
}

.pricing__card-active {
  background-color: var(--text-color);
  border: 2px solid var(--first-color-light);
}
