.choose {
  padding-bottom: 0;
}
.choose__overflow {
  position: relative;
}
.choose__container {
  row-gap: 3rem;
}
.choose__content {
  display: grid;
  justify-content: center;
}
.choose__content .section__data {
  margin-bottom: 2rem;
}
.choose__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.choose__content-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  row-gap: 2rem;
  align-items: center;
}

.choose__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.choose__group {
  text-align: center;
}
.choose__number {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: 0.25rem;
}
.choose__subtitle {
  font-size: var(--small-font-size);
}
.choose__triangle {
  height: 325px;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.choose__triangle-1 {
  width: 305px;
  background-color: var(--first-color);
}

.choose__triangle-2 {
  width: 205px;
  background-color: hsl(0, 100%, 37%);
}
.choose__triangle-3 {
  width: 105px;
  background-color: hsl(0, 100%, 26%);
}

.choose__img {
  width: 260px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .choose__content-grid {
    display: block;
  }

  .choose__triangle {
    display: none;
  }

  .choose__img {
    margin-bottom: 100px;
  }
}
