.home {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/academia-2.png);
  background-color: #10161d;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home h3 {
  font-size: var(--h3-font-size);
  padding-bottom: 15px;
  color: #e1f0ea;
}

.home h2 {
  color: var(--main-color);
  font-size: var(--h2-font-size);
}

.home h1 {
  color: var(--first-color);
  font-size: var(--bigger-font-size);
}

.home p {
  color: var(--second-color);
}

.button-flex {
  border-radius: 10px;
  color: hsl(0, 0%, 0%);
  border: 0;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  background: hsl(0, 0%, 100%);
  margin-top: 20px;
}

.button-flex:hover {
  color: #fff;
  background: var(--neon-color);
  box-shadow: 0 0 10px var(--neon-color), 0 0 40px var(--neon-color),
    0 0 80px var(--neon-color);
}

@media (max-width: 799px) {
  .home {
    height: 100vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
}
@media (max-width: 477px) {
  .home {
    padding: 0 20px;
    background-position: 55%;
  }

  .home h1 {
    font-size: 2.5rem;
  }
}
