/*=============== THE STYLE OF LOGIN PAGE ===============*/
/*===== IMG-BACKGROUND ======*/
body {
  height: 100vh;

  font-family: "Poppins", sans-serif;
}

/*===== HADER/LOGO-LOGIN ======*/
#header_login {
  height: 100px;
}
input[type="checkbox"] {
  display: none;
}
.container-login {
  height: 100vh;
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)),
    url(../img/user-login/banner-login.png);
  background-size: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.form {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: hsl(0, 0%, 100%);
}
.form.signup {
  opacity: 0;
  pointer-events: none;
}
.forms.show-signup .form.signup {
  opacity: 1;
  pointer-events: auto;
}
.forms.show-signup .form.login {
  opacity: 0;
  pointer-events: none;
}
.title__login {
  font-size: 28px;
  font-weight: var(--weight-600);
  color: hsl(224, 21%, 17%);
  text-align: center;
}
form {
  margin-top: 30px;
}
.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid hsl(0, 0%, 79%);
}
.field input:focus {
  border-bottom-width: 2px;
}
.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: hsl(0, 0%, 55%);
  cursor: pointer;
  padding: 5px;
}
.field button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 99%, 42%);
  transition: all 0.3s ease;
  cursor: pointer;
}
.field button:hover {
  background-color: hsl(208, 99%, 40%);
}
.form-link {
  text-align: center;
  margin-top: 10px;
}
.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: hsl(224, 21%, 17%);
}
.form a {
  color: hsl(208, 99%, 42%);
  text-decoration: none;
}
.form-content a:hover {
  text-decoration: underline;
}
.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: hsl(0, 0%, 83%);
}
.line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 55%);
  padding: 0 15px;
}
.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.facebook {
  color: hsl(0, 0%, 100%);
  background-color: hsl(220, 46%, 48%);
}
a.facebook .facebook-icon {
  height: 28px;
  width: 28px;
  color: hsl(208, 99%, 42%);
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
}
.facebook-icon,
img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
a.google {
  border: 1px solid hsl(0, 0%, 79%);
}
a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: hsl(224, 21%, 17%);
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: hsl(180, 100%, 50%);
  }
}
@media (max-width: 720px) {
  nav {
    position: relative;
  }
  .form.signup {
    margin-top: 0px;
  }
}
@media screen and (max-width: 400px) {
  .form {
    padding: 20px 10px;
  }
}
