/*=============== HTMLS LOGGED ON THE SITE ===============*/

.profile-dropdown {
  position: relative;
  width: fit-content;
  margin-left: 30px;
}
.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid var(--main-color);
  background-color: var(--white-color);
  border-radius: 50px;
  cursor: pointer;
  width: 150px;
  transition: box-shadow 0.2s, background-color 0.2s;
}
.profile-dropdown-btn:hover {
  background-color: hsl(210, 85%, 95%);
  box-shadow: var(--main-color);
}
.profile-img {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: url(../img/User/user-0.png);
  background-size: cover;
}
.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: hsl(120, 100%, 25%);
}
.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}
.profile-dropdown-list {
  position: absolute;
  top: 50px;
  width: 220px;
  right: -1px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: var(--main-color);
  max-height: 0;
  overflow: hidden;
}
.profile-dropdown-list.active {
  max-height: 500px;
}
.profile-dropdown-list-item {
  padding: 0.5rem 0 0.5rem 1rem;
}
.profile-dropdown-list hr {
  border: 0.5px solid var(--main-color);
}
.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: hsl(210, 85%, 95%);
  transition: background-color 0.2s, padding-left 0.2s;
}
.profile-dropdown-list-item a {
  align-items: center;
  display: flex;
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--black-color);
  font-weight: 500;
}
.profile-dropdown-list-item a i {
  margin-right: 1em;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--main-color);
  color: var(--white-color);
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  background-color: hsl(0, 0%, 100%);
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 3px solid var(--main-color);
}
.modal-close {
  color: hsl(0, 0%, 47%);
  font-size: 24px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  transition: color 0.3s ease;
}
.modal-close:hover {
  color: hsl(0, 0%, 20%);
}
.modal-content h2 {
  font-size: 28px;
  color: hsl(0, 0%, 20%);
  margin-top: 0;
  margin-bottom: 20px;
}
.modal-content input[type="file"],
.modal-content input[type="text"] {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--main-color);
  margin-bottom: 20px;
  font-size: 16px;
  color: hsl(0, 0%, 33%);
}
.modal-content button {
  background-color: hsl(122, 39%, 49%);
  color: hsl(0, 0%, 100%);
  padding: 14px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.modal-content button:hover {
  background-color: hsl(123, 40%, 45%);
}
.modal-close:hover::before,
.modal-close:hover::after {
  background-color: hsl(0, 0%, 20%);
}

/*===============X===============X===============X===============X===============*/

.modal-content .colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content .colors img {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal-content .body-color img {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 10%;
}
